form{
    width:40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 8px dotted green;
    padding: 8px;
}

form>h1{
    text-align: center;
}

form>label{
    margin-top: 5px;
}